<div class="product-container">
  {{#each category}}
    <div class="card">
      <p class="price">{{id}}</p> <!-- added price class to make the text bold-->
      <p class="price">{{category_name}}</p> <!-- added price class to make the text bold-->
      <img src="/images/{{filename}}" alt="{{category_name}}">
    </div>
  {{/each}}
</div>