.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin: 30px;
  max-width: 300px;
  row-gap: 10px;
  text-align: center;
}
.product-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.card h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.card p {
  margin-bottom: 8px;
}

.card .price {
  font-weight: bold;
}

.card .stock {
  color: #999;
}

footer {
  background-color: #f9f9f9;
  color: #777;
  font-size: 14px;
  padding: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-col {
  width: 16.666%;
  float: left;
  margin-bottom: 20px;
}

.footer-col h4 {
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-col ul li a {
  color: #777;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #555;
}
