.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    padding-top: 35px;
  }
  
  .form-login,
  .form-signup {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .form-login h2,
  .form-signup h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: none;
  }
  
  
  